{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Watch Store</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="icon" type="img/jpeg" href="{% static "img/icon.jpeg" %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Righteous&family=Sofia+Sans:ital,wght@1,900&display=swap"
		rel="stylesheet">
    <link type='text/css' href='{% static "css/estilos.css" %}'' rel='stylesheet'/>

</head>
	<footer class="main-footer">
		<div class="footer__section">
			<h2 class="footer__title">Sobre nosotros</h2>
			<p class="footer__txt">Somos una empresa independiente con mas de 25 años de expereincia en el mercado de la
				venta de accesorios de lujo,
				que ofrece productos de alta calidad y esclusividad a los mejores precios.
			</p>
		</div>

		<div class="footer__section">
			<h2 class="footer__title">Ubicacion</h2>
			<p class="footer__txt">Se encuentra ubicada en el departamento de cundinamarca en la ciudad de Bogota en la
				Carrera 7 calle 31-02</p>
			<h2 class="footer__title">Contactanos</h2>
			<p class="footer__txt">Celular: 3108832871</p>
			<p class="footer__txt">Email: srocha@grupoasd.com</p>
			<i class="fa-brands fa-whatsapp"></i>
			<i class="fa-brands fa-instagram"></i>
		</div>

		<div class="footer__section">
			<h2 class="footer__title">Links rapidos</h2>
			<a href="{% url 'index_inicio' %}" class="footer__link">Inicio</a>
			<a href="catalogo-index" class="footer__link">Tienda</a>
			<a href="nosotros_index" class="footer__link">Nosotros</a>
			<a href="contacto" class="footer__link">Contactanos</a>
		</div>
		
		<div class="footer__section">
			<h2 class="footer__title">Registrate</h2>
			<p class="footer__txt">Registrate en nuestra web para estar al dia con nuestros nuevos productos y ofertas
				especiales</p>
			<input type="email" class="footer__input" placeholder="Ingresa tu Gmail">
		</div>
	</footer>
</html>