{% include  'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if r %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{r}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

{% if r2 %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{r2}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
    <form action="POST">
{% csrf_token %}
{{formaProducto.as_p}}
<div class="submit-row">
    <a href="insertar">guardar</a>
    <input type="submit" value="Save" class="default" name="_save">
    <input type="submit" value="Save and add another" name="_addanother">
    <input type="submit" value="Save and continue editing" name="_continue">
<script id="django-admin-form-add-constants"
src="/static/admin/js/change_form.js"
data-model-name="producto"
async>
</script>
<script id="django-admin-prepopulated-fields-constants"
src="/static/admin/js/prepopulate_init.js"
data-prepopulated-fields="[]">
</script>
</div>
    </form>
</body>
</html>